<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{url_for ('static', filename='css/boostrap.min.css')}}">
        <title>
            {% block title %}
            WORK WITH SQLIITE
            {% endblock %}
        </title>
    </head>
<body>
    <div class="container-fluid">
        <ul class="nav nav-pills justify-content-end align-items-end">
            <li class="nav-item"><a href="{{ url_for('index' )}}"> Main</a></li>
            <li class="nav-item"><a href="{{ url_for('registration.form' )}}">Registration</a></li>
        </ul>

        {% block content %}
        Page empty
        {% endblock %}
        <div class="row fixed-bottom modal-footer">
            <hr>
            <p> © copyright all rights reserved</p>

        </div>
    </div>
</body>
</html>
